<div>

  <div class="field">
    <div class="field">
      <label for="nama">Nama</label>
      <input
        id="nama"
        pInputText
        placeholder="Masukan nama"
        type="text"
        class="w-full mb-3"
      >
    </div>
    <div class="field">
      <label for="level">Gender</label>
      <select
        id="level"
        class="p-dropdown w-full custom-select mb-3"
      >
        <option value="">Select an Option</option>
        <option value="MALE">MALE</option>
        <option value="FEMALE">FEMALE</option>
      </select>
    </div>
    <div class="field">
      <label for="tanggal">tanggal</label>
      <input
        id="tanggal"
        pInputText
        type="date"
        class="w-full mb-3"
      >
    </div>

    <div class="field">
      <label for="jumlah">Jumlah</label>
      <input
        id="jumlah"
        pInputText
        placeholder="0000000"
        type="number"
        class="w-full mb-3"
      >
    </div>
    <div class="field">
      <label for="status">Status</label>
      <select
        id="status"
        class="p-dropdown w-full custom-select mb-3"
      >
        <option value="">Select an Option</option>
        <option value="LUNAS">LUNAS</option>
        <option value="CICILAN">CICILAN</option>
      </select>
    </div>
    <div class="field">
      <label for="metode">Metode Pembayaran</label>
      <select
        id="metode"
        class="p-dropdown w-full custom-select mb-3"
      >
        <option value="">Select an Option</option>
        <option value="Tunai">Tunai</option>
        <option value="Transfer">Transfer</option>
      </select>
    </div>

    <div class="field">
      <label for="age">Age</label>
      <input
        id="age"
        pInputText
        placeholder="insert your age"
        type="number"
        class="w-full mb-3"
      >
    </div>
    <form [formGroup]="formGroup">
      <textarea rows="5" cols="30" pInputTextarea formControlName="text"></textarea>
    </form>


  </div>
  <div>
    <button
      pButton
      label="Submit"
      class="w-full"
    ></button>
    <button
      pButton
      label="Cancel"
      class="w-full p-button-outlined p-button-danger mt-2"
    ></button>
  </div>

</div>
