<div class="m-3">
  <div
    class="flex justify-content-center" >
    <!--  <img alt="icon"-->
    <!--       sha-->
    <!--       src="/assets/picture/logo.png"-->
    <!--       sizes="normal"-->
    <!--       style="margin-right: 20px">-->
    <p> ASSALAM COKROAMINOTO </p>
  </div>

  <h4 class="text-center mt-4 border-bottom-1 border-white text-white">
    Admin
  </h4>
  <div class="hvr justify-content-center ">
    <div class="justify-content-center align-items-center m-3">
      <button
        class="dashboard"
        (click)="dashboard()">
      </button>
      <button class="custom-button text-white">
        <i class="jarak"></i>
        <span class="button-text">Dashboard</span>
      </button>
    </div>
  </div>
  <div class="hvr">
    <div class="justify-content-center m-3">
      <button
        class="data">
      </button>
      <button class="custom-button text-white"
      >
        <i class="jarak"></i>
        <span class="button-text">Data Keuangan
    </span>

      </button>
    </div>
  </div>
  <div class="hvr act">
    <div class="justify-content-center m-3">
      <button
        class="validasi"
        (click)="validasi()">
      </button>
      <button class="custom-button text-white">
        <i class="jarak"></i>
        <span class="button-text">Validasi</span>
      </button>
    </div>
  </div>


  <div class=" hvr w-full">
    <div class="justify-content-center m-3 ">
      <button
        class="kwitansi mt-3"
        (click)="kwitansi()">
      </button>
      <button class="custom-button text-white">
        <i class="jarak"></i>
        <span class="button-text">Kwitansi</span>
      </button>
    </div>
  </div>
  <div class=" hvr">
    <div class="justify-content-center m-3 ">
      <button
        class="Role "
        (click)="kwitansi()">
      </button>
      <button class="custom-button text-white">
        <i class="jarak"></i>
        <span class="button-text">Kwitansi</span>
      </button>
    </div>
  </div>
  <i class="fa fa-circle"></i>

</div>
