<div class="flex flex-grow-1 flex-wrap" id="background-div" style="height:100vh">
  <div class="flex col-6 flex-column-reverse justify-content-center m-auto ">
    <div class="justify-content-center m-auto mr mb-6">
        <img ngSrc="assets/picture/arab.png"
             class="pict justify-content-center m-auto"
             alt="arab"
             height="980" width="1742"
        >
      <button
      pButton
      label="Log In"
      class="w-15rem buttonlo"
      style="background-color: #5B8926"
      (click)= "login()">
    </button>
    </div>
      <div class="justify-content-center m-auto mb-3">
      <button
      pButton
      label="Sign Up"
      class="w-15rem buttonsu m-auto"
      style="background-color: #5B8926"
      (click)= "register()">
    </button>
    </div>
  </div>
  <div class="flex col-6 flex-grow-1 flex-colum justify-content-end mr-1 mt-0 image-container gradien">
      <img ngSrc="assets/picture/aca.png"
           alt="aca" fill="40vh"
      >
  </div>
    <div class="flex col-2 image2">
    <div class="m-auto">
      <img ngSrc="assets/picture/aca2.jpeg"
           alt="aca"
           fill="40vh">
    </div>
  </div>
</div>


